@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    height: 100vh;
}



header {
    height: 100px;
}
h1 {
    font-family: Fjalla One;
}

.navbar {
    margin-bottom: 20px;
}
section {
    display: flex;
    justify-content: center;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}
.Company-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 500px;
    padding: 0 20px;
}

.Aniplex-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Sony-image {
    height: auto;
    width: 200px;
}

.Aniplex-image {
    height: auto;
    width: 500px;
    position: relative;
    top: 5rem;
}

button {
    display: flex;
    justify-content: flex-end;
    position: relative;

    width: 200px;
}

.SPE-Japan {
    width: 300px;
    position: relative;
    
}

.Aniplex-info {
    width: 300px;
    position: relative;
    top: 50px;
    left: 100px;
}

.aniplex-button {
    position: relative;
    left: 150px;
}